<%= form_for @monster do |f| %>
<br><br>
  <%= f.label :name %>
    <br>
  <%= f.text_field :name, class: "monster_name" %>
    <br><br>
  <%= f.label :size %>
    <br>
  <%= f.text_field :size %>
    <br><br>
  <%= f.label :description %>
    <br>
  <%= f.text_area :description %>
  <br><br>
  <%= f.label :challenge_rating %>
    <br>
  <%= f.text_field :challenge_rating, class:"monster_challenge_rating" %>
  <br><br>
  <%= f.label :armor_class %>
    <br>
  <%= f.number_field :armor_class %>
    <br><br>
  <%= f.label :hit_points %>
    <br>
  <%= f.number_field :hit_points %>
    <br><br>
  <h3 style="text-align: center;max-width:200px;">Monster Stats</h3>
  <div class="monster_input_container">
  <div class="monster_input_inner_container">
  <%= f.label "STR" %>
    <br>
  <%= f.number_field :strength, class:"monster_strength" %>
    <br><br>
  </div>
  <div class="monster_input_inner_container">
  <%= f.label "DEX" %>
    <br>
  <%= f.number_field :dexterity, class:"monster_dexterity" %>
    <br><br>
  </div>
  <div class="monster_input_inner_container">
  <%= f.label "CON" %>
    <br>
  <%= f.number_field :constitution, class:"monster_constitution" %>
    <br><br>
  </div>
  <div class="monster_input_inner_container">
  <%= f.label "INT" %>
    <br>
  <%= f.number_field :intelligence, class:"monster_intelligence" %>
    <br><br>
  </div>
  <div class="monster_input_inner_container">
  <%= f.label "WIS" %>
    <br>
  <%= f.number_field :wisdom, class:"monster_wisdom" %>
    <br><br>
  </div>
  <div class="monster_input_inner_container">
  <%= f.label "CHA" %>
    <br>
  <%= f.number_field :charisma, class:"monster_charisma" %>
    <br><br>
  </div>
  </div>
  <h3>Saving Throws</h3>
  <%= f.label :constitution_save %>
    <br>
  <%= f.text_field :constitution_save, class:"monster_constitution_save" %>
    <br><br>
  <%= f.label :intelligence_save %>
    <br>
  <%= f.text_field :intelligence_save, class:"monster_intelligence_save" %>
    <br><br>
  <%= f.label :wisdom_save %>
    <br>
  <%= f.text_field :wisdom_save, class:"monster_wisdom_save" %>
      <br><br>
  <h3>Skills</h3>
  <%= f.label :history %>
    <br>
  <%= f.text_field :history, class:"monster_history" %>
    <br><br>
  <%= f.label :perception %>
    <br>
  <%= f.text_field :perception, class:"monster_perception" %>
    <br><br><br>
  <%= f.submit %>
<% end %><br>

<%= button_to "Back to Homepage", root_path, {method: :get} %><br>
