<h1>Current Monsters:</h1>
<%= render "heading" %>
<br></br>

<%= flash[:notice] if flash[:notice] %>
<br>

<ul>
<% @monsters.each do |monster| %>
<li><%= link_to monster.name, monster_path(monster) %></li>
  <ul>
    <li><%= monster.description %></li>
  </ul>
<% end %>
</ul>

<h3><%= link_to "Create New Monster", new_monster_path %></h3>

<h3><%= link_to "Back to Homepage", home_path %></h3>
