<h1>Current Monsters:</h1>
<%= flash[:notice] if flash[:notice] %>
<br>
<%= render "heading" %>
<br>
<br>
<br>
<%= render "search" %>
<p class="errors"><%= flash[:errors] if flash[:errors] %></p>

<br>

<ul>
<% @monsters.each do |monster| %>
<li><%= link_to monster.name, monster_path(monster) %></li>
  <ul>
    <li><%= monster.description %></li>
  </ul>
<% end %>
</ul>
<br><br>

<h3><%= link_to "Create New Monster", new_monster_path %></h3>

<h3><%= link_to "Back to Homepage", root_path %></h3>
