<%= render "errors" %>

<h1>Create a Monster</h1>

<%= form_for @monster do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br><br>
<%= f.label :description %>
<br>
<%= f.text_area :description %><br>
<br>
<%= f.label :hit_points %><br>
<%= f.number_field :hit_points %>
<br><br><br>
<%= f.submit %>
<% end %>
