<h1>Current Pets:</h1>
<%= flash[:notice] if flash[:notice] %>
<br></br>
<br>
<%= render "search" %>
<p class="errors"><%= flash[:errors] if flash[:errors] %></p>


<% @pets.each do |pet| %>
<h3><%= link_to pet.name, pet_path(pet) %></h3>
<ul>
  <li>Owner: <%= link_to pet.character.name, character_path(pet.character) %></li>
</ul>
<% end %>
<br><br>

<h3><%= link_to "Create New Pet", new_pet_path %></h3>

<h3><%= link_to "Back to Homepage", root_path %></h3>
