<h1><%= @encounter.name %></h1>
<% if @encounter.user %>
  <p><%= "Created by: #{@encounter.user.username.capitalize}" %></p>
<% end %>
<p><%= @encounter.content %></p>


<ul>
  <% @encounter.characters.each do |character| %>
    <li><%= character.name %></li>
  <% end %>
</ul>
<p>vs.</p>
<ul>
  <% @encounter.monsters.each do |monster| %>
    <li><%= monster.name %></li>
  <% end %>
</ul>


<h3><%= link_to "Edit", edit_encounter_path(@encounter) %><br></h3>
<%= button_to "Edit", edit_encounter_path, {method: :get} %><br>

<% if logged_in? %>
  <%= button_to "<< Return to My Encounters", my_encounters_path, {method: :get} %><br>
<% end %>
<%= button_to "<< Return to All Encounters", encounters_path, {method: :get} %><br>

<%= form_tag @encounter, method: "DELETE" do %>
  <%= submit_tag "Delete This Encounter", :onclick => "return confirm('Really delete this encounter?')" %>
<% end %>
