<%= render 'partials/notices' %>

<h1><%= @encounter.name %></h1>
<% if @encounter.user %>
  <p><%= "Created by: #{@encounter.user.username.capitalize}" %></p>
<% end %>
<p><%= @encounter.content %></p>


<ul>
  <% @encounter.characters.each do |character| %>
    <li><%= character.name %></li>
  <% end %>
</ul>
<p>vs.</p>
<ul>
  <% @encounter.monsters.each do |monster| %>
    <li><%= monster.name %></li>
  <% end %>
</ul>
