<%= render 'partials/notices' %>

<h1><%= @encounter.name %></h1>
<% if @encounter.user %>
  <p><%= "Created by: #{@encounter.user.username.capitalize}" %></p>
<% end %>
<p><%= @encounter.content %></p>


<ul>
  <% @encounter.characters.each do |character| %>
    <li><%= character.name %></li>
  <% end %>
</ul>
<p>vs.</p>
<ul>
  <% @encounter.monster_encounters.each do |m_e| %>
    <li><%= m_e.monster.name %> (<%= m_e.quantity %>)</li>
  <% end %>
</ul>

<%= button_to "Edit", edit_encounter_path(@encounter), {method: :get} %><br>

<% if logged_in? %>
  <%= button_to "<< Return to My Encounters", my_encounters_path, {method: :get} %><br>
<% end %>
<%= button_to "<< Return to All Encounters", encounters_path, {method: :get} %><br>

<%= button_to "Delete This Encounter", @encounter, {method: :delete, :onclick => "return confirm('Really delete this encounter?')"} %><br>
