<%= render 'partials/notices' %>
<br>
<%= render "encounters/heading" %>
<br>
<br>
<br>
<%= render "encounters/search" %>
<p class="errors"><%= flash[:errors] if flash[:errors] %></p>

<ul>
  <% @encounters.each do |encounter| %>
    <% if encounter.user == current_user && logged_in? %>
      <li><%= link_to encounter.name, my_encounter_path(encounter.user_id, encounter) %></li><br>
    <% else %>
      <li><%= link_to encounter.name, encounter_path(encounter) %></li><br>
    <% end %>
  <% end %>
</ul>
<br><br>

<%= button_to "Create New Encounter", new_encounter_path, :method => :get, :class => 'create_new_button' %><br>
  <br>
<%= button_to "<< Back to Homepage", root_path, :method => :get, :class => 'back_to_homepage_button' %>
