<%= render 'partials/notices' %>
<br>
<%= render "monsters/heading" %>
<br>
<br>
<br>
<%= render "monsters/search" %>
<p class="errors"><%= flash[:errors] if flash[:errors] %></p>

<br>

<ul>
  <% @monsters.each do |monster| %>
    <% if monster.user == current_user %>
      <li class="monster"><%= link_to monster.name, my_monster_path(monster.user_id, monster) %><%= " (#{monster.description})" %></li><br>
    <% else %>
      <li class= "monster"><%= link_to monster.name, monster_path(monster) %><%= " (#{monster.description})" %></li>
    <% end %>
  <% end %>
</ul>
<br><br>

<%= button_to "Create New Monster", new_monster_path, {method: :get} %><br>
<%= button_to "<< Back to Homepage", root_path, {method: :get} %>
