<%= render 'partials/notices' %>
<div class="monster_background">
<br><br>
<h1 class="monster_show"><%= @monster.name %></h1>
<span class="monster_subtitles"><b>Description:</b></span> <span class="monster_info"><em><%= @monster.description %></em></span></br>
<% if @monster.user %>
  <span class="monster_subtitles"><b>Created by:</b><em><%= " #{@monster.user.username.capitalize}" %></em></span></br>
<% end %>
<img class="monster_dividers" src = "/../assets/red-divider.png"><br>
<span class="monster_subtitles"><b>Size:</b></span> <span class="monster_info"><%= @monster.size %></span></br>
<span class="monster_subtitles"><b>Challenge Rating:</b></span> <span class="monster_info"><%= @monster.challenge_rating %></span></br>
<span class="monster_subtitles"><b>Armor Class:</b></span> <span class="monster_info"><%= @monster.armor_class %></span></br>
<span class="monster_subtitles"><b>Hit Points:</b></span> <span class="monster_info"><%= @monster.hit_points %></span></br>
<img class="monster_dividers" src = "/../assets/red-divider.png"><br>
  <span class="monster_subtitles"><b>Strength:</b></span> <span class="monster_info"><em><%= @monster.strength %></em></span></br>
  <span class="monster_subtitles"><b>Dexterity:</b></span> <span class="monster_info"><em><%= @monster.dexterity %></em></span></br>
  <span class="monster_subtitles"><b>Constitution:</b></span> <span class="monster_info"><em><%= @monster.constitution %></em></span></br>
  <span class="monster_subtitles"><b>Intelligence:</b></span> <span class="monster_info"><em><%= @monster.intelligence %></em></span></br>
  <span class="monster_subtitles"><b>Wisdom:</b></span> <span class="monster_info"><em><%= @monster.wisdom %></em></span></br>
  <span class="monster_subtitles"><b>Charisma:</b></span> <span class="monster_info"><em><%= @monster.charisma %></em></span></br>
  <span class="monster_subtitles"><b>Constituion Saving Throw:</b></span> <span class="monster_info"><em><%= @monster.constitution_save %></em></span></br>
  <span class="monster_subtitles"><b>Intelligence Saving Throw:</b></span> <span class="monster_info"><em><%= @monster.intelligence_save %></em></span></br>
  <span class="monster_subtitles"><b>Wisdom Saving Throw:</b></span> <span class="monster_info"><em><%= @monster.wisdom_save %></em></span></br>
  <span class="monster_subtitles"><b>History:</b></span> <span class="monster_info"><em><%= @monster.history %></em></span></br>
  <span class="monster_subtitles"><b>Perception:</b></span> <span class="monster_info"><em><%= @monster.perception %></em></span></br>
<br><br>
</div>
<br>
<%= button_to "Edit Monster", edit_monster_path(@monster), :method => :get, :class => "create_new_button" %><br>
<%= button_to "Delete This Monster", @monster, {method: :delete, :class => "delete_button", :onclick => "return confirm('Really delete this monster?')"} %><br>
<br>

<% if logged_in? %>
  <%= button_to "<< Return to My Monsters", my_monsters_path, :method => :get, :class => 'back_to_homepage_button' %><br>
<% end %>
<%= button_to "<< Return to All Monsters", monsters_path, :method => :get, :class => 'back_to_homepage_button' %><br>
