<%= render 'partials/notices' %>
<br>
<%= render "monsters/heading" %>
<br>
<br>
<br>
<%= render "monsters/search" %>
<p class="errors"><%= flash[:errors] if flash[:errors] %></p>

<br>

<div class="checkboxes_container">
  <% @monsters.each do |monster| %>
    <div class="checkboxes_inner_container">
    <% if monster.user == current_user %>
      <div class="monster"><%= link_to monster.name, my_monster_path(monster.user_id, monster) %><%= " (#{monster.description})" %></div><br>
    <% else %>
      <div class= "monster"><%= link_to monster.name, monster_path(monster) %><%= " (#{monster.description})" %></div>
    <% end %>
    </div>
  <% end %>
</div>
<br><br>

<%= button_to "Create New Monster", new_monster_path, :method => :get, :class => 'create_new_button' %><br>
<%= button_to "<< Back to Homepage", root_path, :method => :get, :class => 'back_to_homepage_button' %>
