<%= render 'partials/notices' %>
<div class="monster_background">
<br><br>
<h1 class="monster_show"><%= @monster.name %></h1>

<% if @monster.user %>
  <p><%= "Created by: #{@monster.user.username.capitalize}" %></p>
<% end %>

<span class="monster_subtitles"><b>Description:</b></span> <span class="monster_info"><em><%= @monster.description %></em></span></br>
<span class="monster_subtitles"><b>Challenge Rating:</b></span> <span class="monster_info"><%= @monster.challenge_rating %></span></br>
<span class="monster_subtitles"><b>Armor Class:</b></span> <span class="monster_info"><%= @monster.armor_class %></span></br>
<span class="monster_subtitles"><b>Hit Points:</b></span> <span class="monster_info"><%= @monster.hit_points %></span></br></br>
  <span class="monster_subtitles"><b>Size:</b></span> <span class="monster_info"><%= @monster.size %></span></br>
  <span class="monster_subtitles"><b>Strength:</b></span> <span class="monster_info"><span><%= @monster.strength %></span></br>
  <span class="monster_subtitles"><b>Dexterity:</b></span> <span class="monster_info"><em><%= @monster.dexterity %></span></br>
  <span class="monster_subtitles"><b>Constitution:</b></span> <span class="monster_info"><%= @monster.constitution %></span></br>
  <span class="monster_subtitles"><b>Intelligence:</b></span> <span class="monster_info"><%= @monster.intelligence %></span></br>
  <span class="monster_subtitles"><b>Wisdom:</b></span> <span class="monster_info"><%= @monster.wisdom %></span></br>
  <span class="monster_subtitles"><b>Charisma:</b></span> <span class="monster_info"><%= @monster.charisma %></span></br>
  <span class="monster_subtitles"><b>Constituion Saving Throw:</b></span> <span class="monster_info"><%= @monster.constitution_save %></span></br>
  <span class="monster_subtitles"><b>Intelligence Saving Throw:</b></span> <span class="monster_info"><%= @monster.intelligence_save %></span></br>
  <span class="monster_subtitles"><b>Wisdom Saving Throw:</b></span> <span class="monster_info"><%= @monster.wisdom_save %></span></br>
  <span class="monster_subtitles"><b>History:</b></span> <span class="monster_info"><%= @monster.history %></span></br>
  <span class="monster_subtitles"><b>Perception:</b></span> <span class="monster_info"><%= @monster.perception %></span></br>
<br>
</div>
<br>
<%= button_to "Edit Monster", edit_monster_path(@monster), {method: :get} %><br>

<%= button_to "Delete This Monster", @monster, {method: :delete, :onclick => "return confirm('Really delete this monster?')"} %><br>
<br>

<% if logged_in? %>
  <%= button_to "<< Return to My Monsters", my_monsters_path, {method: :get} %><br>
<% end %>
<%= button_to "<< Return to All Monsters", monsters_path, {method: :get} %><br>
