<h3>My Encounters</h3>

<%= render "heading" %>
<br></br>

<%= flash[:notice] if flash[:notice] %>
<br>

<ul>
  <% @encounters.each do |encounter| %>
    <li><%= link_to encounter.name, my_encounter_path(@user, encounter) %></li><br>
  <% end %> 
</ul>
<br><br>

<%= button_to "Create New Encounter", new_encounter_path, {method: :get} %><br>
  <br>
<%= button_to "All Encounters", encounters_path, method: :get %>
