<%= form_for @encounter, method: :get, url: encounter_preview_path do |f| %>

  <%= f.label :name %>
    <br>
  <%= f.text_field :name %>
    <br><br>
  <%= f.label :content %>
    <br>
  <%= f.text_area :content, class: "encounter_description" %>
    <br></br>
  <%= f.label "Very Easy Monsters", class: "very_easy_monster_type_titles"%>
  <%= f.collection_check_boxes :monster_ids, @very_easy_monsters, :id, :name do |b| %>
    <div class="monster_checkbox_container">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>

    <br><br>

  <%= f.label "Easy Monsters", class: "easy_monster_type_titles"%>
  <%= f.collection_check_boxes :monster_ids, @easy_monsters, :id, :name do |b| %>
    <div class="monster_checkbox_container">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>

    <br><br>

  <%= f.label "Medium Monsters", class: "medium_monster_type_titles"%>
  <%= f.collection_check_boxes :monster_ids, @medium_monsters, :id, :name do |b| %>
    <div class="monster_checkbox_container">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
    <br><br>

  <%= f.label "Hard Monsters", class: "hard_monster_type_titles"%>
  <%= f.collection_check_boxes :monster_ids, @hard_monsters, :id, :name do |b| %>
    <div class="monster_checkbox_container">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
    <br><br>

  <%= f.label "Very Hard Monsters", class: "very_hard_monster_type_titles"%>
  <%= f.collection_check_boxes :monster_ids, @very_hard_monsters, :id, :name do |b| %>
    <div class="monster_checkbox_container">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
    <br><br>

  <%= f.label "Impossible Monsters", class: "impossible_monster_type_titles"%>
  <%= f.collection_check_boxes :monster_ids, @impossible_monsters, :id, :name do |b| %>
  <div class="monster_checkbox_container">
    <%= b.check_box %>
    <%= b.label %>
  </div>
  <% end %>
    <br><br>

  <%= f.label "Characters:" %>

  <%= f.collection_check_boxes :character_ids, @characters, :id, :char_name_and_level %>
    <br></br>

  <%= f.submit "Preview Encounter" %>
<% end %>
  <br>

<%= button_to "Browse All Monsters", monsters_path, {method: :get} %><br>
  <br>
<%= button_to "Browse All Characters", characters_path, {method: :get} %><br>
  <br>
<%= button_to "Back to Homepage", root_path, {method: :get} %><br>
