<h1>Current Encounters:</h1>
<%= render "heading" %>
<br></br>

<%= flash[:notice] if flash[:notice] %>
<br>

<ul>
  <% @encounters.each do |encounter| %>
    <li><%= link_to encounter.name, encounter_path(encounter) %></li><br>
  <% end %>
</ul>
<br><br>

<h3><%= link_to "Create New Encounter", new_encounter_path %></h3>

<h3><%= link_to "Back to Homepage", root_path %></h3>
