<%= render "heading" %>
<h1>Characters:</h1>

<%= flash[:notice] if flash[:notice] %>

<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %></li>
      <ul>
        <% character.pets.each do |pet| %>
          <li><u>Pets:</u> <%= link_to pet.name, pet_path(pet) %></li>
        <% end %>
      </ul>
  <% end %>
</ul>
<br></br>

<h3><%= link_to "Create New Character", new_character_path %><h3>

<h3><%= link_to "Back to Homepage", home_path %></h3>
