<h1>Encounter Generator Analytics</h1>
<br>
Number of Monsters: <div class="analytics_number"><%= @monster_numbers %></div><br>
<div>Number of Characters:</div> <div class="analytics_number"><%= @character_numbers %></div><br>
<div>Number of Encounters:</div> <div class="analytics_number"><%= @encounter_numbers %></div><br>
<div>Number of Pets:</div> <div class="analytics_number"><%= @pet_numbers %></div><br>
<div>Number of Users:</div> <div class="analytics_number"><%= @user_numbers %></div>
