<h1>Encounter Generator Analytics</h1>
<br>
<h4>Number of Monsters:</h4> <h4 class="analytics_number"><%= @monster_numbers %></h4>
<h4>Number of Characters:</h4> <h4 class="analytics_number"><%= @character_numbers %></h4>
<h4>Number of Encounters:</h4> <h4 class="analytics_number"><%= @encounter_numbers %></h4>
<h4>Number of Pets:</h4> <h4 class="analytics_number"><%= @pet_numbers %></h4>
<h4>Number of Users:</h4> <h4 class="analytics_number"><%= @user_numbers %></h4>
